<li id='idea_<%= idea.id %>' class="list-group-item idea-item">
  <!-- Single button -->
  <% if current_user.id == idea.creator_id %>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Your idea <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">

        <!-- make this destroy link remove the row through javascript -->
        <li><a data-remote="true" data-method="delete" href="<%= idea_url(idea) %>">Destroy</a></li>
        <li><a href="#">Edit</a></li>
      </ul>
    </div>
  <% end %>
  <%= idea.name %>
  <% if event.votes.where(user_id: current_user.id).present? %>
    <% vote = Vote.where(user_id: current_user.id, idea_id: idea.id).first %>
    <% if vote %>
      <%= link_to(vote, {method: :delete, class: 'btn btn-danger btn-sm'}) do %>
        <i class="fa fa fa-times"></i>
      <% end %>
    <% end %>
  <% else %>
    <%= form_for(vote, html: {class: 'button-submit'}) do |f| -%>
      <%= f.hidden_field :idea_id, value: idea.id %>
      <button class="btn btn-default">
        <i class="fa fa-thumbs-o-up"></i>
      </button>
    <% end %>
  <% end %>
  <div class="pull-right">

  </div>
  <% if idea.votes.present? %>
    <span class="badge"><%= idea.votes.count %></span>
  <% end %>
</li>
