<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Event #<%= @event.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Name</dt>
              <dd><%= @event.name %></dd>

              <dt>When</dt>
              <dd><%= @event.when %></dd>

              <dt>Creator</dt>
              <dd><%= @event.creator_id %></dd>

              <dt>Description</dt>
              <dd><%= @event.description %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <%= link_to icon('chevron-left'), events_path, class: "btn btn-primary" %>

              <%= link_to icon('edit'), edit_event_path(@event), class: "btn btn-warning" %>

              <%= link_to icon('trash-o'), @event, method: :delete, data: { confirm: "Do you really want to delete this event?" }, class: "btn btn-danger" %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add a new idea</h3>
      </div>
      <div class="panel-body">
        <%= form_for @idea do |f| -%>
          <%= f.hidden_field :event_id, value: @event.id %>
          <%= f.text_field :name, class: 'form-control', placeholder: 'your idea...' %>
        <% end -%>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Ideas
          <div class="pull-right">
            Vote count
          </div>
        </h3>
      </div>
      <ul class="list-group">
        <% @event.ideas.each do |idea| %>
          <li class="list-group-item idea-item">
            <!-- Single button -->
            <% if current_user.id == idea.creator_id %>
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  Your idea <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Destroy</a></li>
                  <li><a href="#">Edit</a></li>
                </ul>
              </div>

            <% end %>
            <%= idea.name %>
            <% if @event.votes.where(user_id: current_user.id).present? %>
              <% vote = Vote.where(user_id: current_user.id, idea_id: idea.id).first %>
              <% if vote %>
                <%= link_to(vote, {method: :delete, class: 'btn btn-danger btn-sm'}) do %>
                  <i class="fa fa fa-times"></i>
                <% end %>
              <% end %>
            <% else %>
              <%= form_for(@vote, html: {class: 'button-submit'}) do |f| -%>
                <%= f.hidden_field :idea_id, value: idea.id %>
                <button class="btn btn-default">
                  <i class="fa fa-thumbs-o-up"></i>
                </button>
              <% end %>
            <% end %>
            <div class="pull-right">

            </div>
            <% if idea.votes.present? %>
              <span class="badge"><%= idea.votes.count %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
